<!-->
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink="/characters"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/newCharacter"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">New Character</a>
  </li>
</ul>
</!-->

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink="/characters"
    routerLinkActive="active">Characters</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/newCharacter"
    routerLinkActive="active">New Character</a>
  </li>
</ul>
